# Kopieer dit bestand op de RPi naar /etc/rittenregistratie-mail.env.
# Zet echte waarden NOOIT in GitHub.
RITTEN_SMTP_HOST=smtp.gmail.com
RITTEN_SMTP_PORT=465
RITTEN_SMTP_USER=jouw-adres@gmail.com
RITTEN_SMTP_PASSWORD=JOUW_GMAIL_APP_WACHTWOORD
RITTEN_MAIL_TO=jouw-adres@gmail.com
RITTEN_MAIL_FROM=jouw-adres@gmail.com
